* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --color-header: #f4efec;
    --color-text: #cdc6c3;
}


@font-face {
    font-family: DelaGO;
    src: url(fonts/DelaGothicOne-Regular.woff2);
}

h1, h2, h3, h4, h5, h6, p {
    font-family: DelaGO, sans-serif;
}

body{
    background-image: url("/img/bg.png");
    background-size: 1920px;
    color: #fafafa;
    font-family: DelaGO, serif;
    overflow-x: hidden;
}

.hero-section {
    position: absolute;
    z-index: 0;
}

.hero{
    width: calc(var(--index) * 67);
}

.container{
    padding: 0 7vw;
}

.main-title{
    font-size: calc(var(--index)*5);
    position: absolute;
    width: min-content;
    bottom: 30vh;
    line-height: 1.1;
    z-index: 1;
}

.gallery {
    color: #c4c4c4;
    font-size: 3em;
    /*z-index: 10;*/
    position: absolute;
}
.main-header{
    height: 110vh;
}






























