* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html.has-scroll-smooth {
    scroll-behavior: auto !important;
}

[data-scroll-container] {
    /*will-change: transform;*/
}

:root {
    --index: calc(1vw + 1vh);
    --color-header: #f4efec;
    --color-text: #cdc6c3;
}

.background {
    background-image: url("/img/bg.png");
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


@font-face {
    font-family: DelaGO;
    src: url(fonts/DelaGothicOne-Regular.woff2);
}


/*---------- Тело сайта ----------*/
body {
    /*background-image: url("/img/bg.png");*/
    /*background-size: cover;*/
    /*background-position: center;*/
    color: #f4efec;
    font-family: DelaGO, serif;
    overflow-x: hidden;
}

/*---------- Герой ----------*/
.hero {
    position: relative;
    height: 100vh;
    width: 100%;
}

/*---------- Герой фото ----------*/
.hero-image {
    width: 100%;
    height: auto;
    position: relative;
}


/*---------- Главный заголовок ----------*/
.main-title {
    position: relative;
    margin-top: -180rem; /* можно подвинуть вверх поверх картинки */
    color: #f4efec;
    font-size: calc(var(--index) * 5);
    font-family: DelaGO, sans-serif;
    line-height: 1.1;
    text-align: left;
    padding: 1vh 5vw;
}

/*---------- Шапка ? че)----------*/
.main-header {
    height: 10vh;
}


/*---------- Контейнеры ----------*/
.container {
    padding: 0vh 5vw;
}

.container2 {
    /*top: 400pt;*/
    position: relative;
    overflow: hidden;
    /*padding: 60vh 5vw; !* добавь отступы вместо "top" *!*/
    min-height: 10vh; /* например, 60% высоты экрана */
    /*padding-bottom: 200vh; !* резерв под абсолютный текст *!*/
    margin-top: 5vh; /* или столько, сколько нужно */
}

.container3 {
    padding: 1vh 5vw; /* добавь отступы вместо "top" */
    position: relative;
    margin-top: 150vh; /* или столько, сколько нужно */
    /*min-height: 100vh;*/
    overflow: visible;

}

/*---------- Галереи ----------*/
.gallery, .gallery2, .gallery3 {
    font-size: calc(var(--index) * 2);
    position: relative;
    line-height: 1.2;
}

.gallery {
    color: rgba(196, 196, 196, 0.42);
}

.gallery3 {
    color: #33a2c4;
    text-align: right;
}

.gallery2 {
    /*top: 100pt; !* подберите нужное значение *!*/
    /*right: 5%;*/
    font-size: calc(var(--index) * 3);
    line-height: 1.2;
    text-align: left;
    color: #c433c4;
}

.gallery2-text {
    top: 1%;
    position: absolute;
    font-size: calc(var(--index) * 2);
    line-height: 1.2;
    color: #c433c4;
    text-align: left;
    margin-top: 1vh;
}

.gallery2-wrapper {
    margin-top: 50vh;
    height: 100vh; /* добавь это */
    position: relative;
}

.gallery3-text {
    position: absolute;
    right: 0;
    /*margin-top: 1v;*/
    text-align: right;
    pointer-events: none;
    font-size: calc(var(--index) * 2);
    line-height: 1.2;
    color: #33a2c4;
    top: 10%; /* уменьшите это значение, например с 20% до 10% */

}

.gallery3-wrapper {
    position: relative;
    min-height: 1pt;
}


/*---------- Портфолио 1 ----------*/
.port1 {
    width: 100%;
    height: auto;
    display: block;
    position: relative; /* если нужно */
    z-index: 1;
}


.spb {
    z-index: 10;
    pointer-events: none; /* чтобы не мешала кликам */
    will-change: transform;
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: 100%;
    height: auto;
    display: block;
}


.image-wrapper {
    position: relative;
    min-height: 100vh;
    overflow: visible;
}


